<div class="ui vertical overlay sidebar menu">
 <div class="item">
    <b>Material Design</b>
    <div class="menu">
      <a class="item" href="/material_design/material-design/introduction.html">概述 - Introduction</a>
    </div>
  </div>
 <div class="item">
    <b>Animation</b>
    <div class="menu">
      <a class="item" href="/material_design/animation/authentic-motion.html">真实的动作 - Authentic Motion</a>
      <a class="item" href="/material_design/animation/responsive-interaction.html">交互响应 - Responsive Interaction</a>
      <a class="item" href="/material_design/animation/meaningful-transitions.html">有意义的转场动画 - Meaningful Transitions</a>
	  <a class="item" href="/material_design/animation/delightful-details.html">让用户愉悦的细节 - Delightful Details</a>      
    </div>
  </div>
  <div class="item">
    <b>Style</b>
    <div class="menu">
      <a class="item" href="">色彩 - Color</a>
      <a class="item" href="">字体排版 - Typography</a>
      <a class="item" href="">图标 - Icons</a>
      <a class="item" href="">Imagery - Imagery</a>
    </div>
  </div>
  <div class="item">
    <b>Layout</b>
    <div class="menu">
      <a class="item" href="">Principles - Principles</a>
      <a class="item" href="">度量与边框 - Metrics and Keylines</a>
      <a class="item" href="">结构 - Structure</a>
    </div>
  </div>

  <div class="item">
    <b>Components</b>
    <div class="menu">
      <a class="item" href="">底部窗口 - Bottom Sheets </a>
      <a class="item" href="">按钮 - Buttons </a>
      <a class="item" href="">卡片 - Cards</a>
      <a class="item" href="">纸片 - Chips</a>
      <a class="item" href="">提示框 - Dialogs</a>
      <a class="item" href="">分隔线 - Dividers</a>
      <a class="item" href="">网格 - Grids</a>
      <a class="item" href="">列表 - Lists</a>
      <a class="item" href="">List controls - List controls</a>
      <a class="item" href="">菜单 - Menus</a>
      <a class="item" href="">进度和动态 - Progress and Activity</a>
      <a class="item" href="">Sliders - Sliders</a>
      <a class="item" href="">Snackbars and Toasts - Snackbars and Toasts</a>
      <a class="item" href="">副标题 - Subheaders</a>
      <a class="item" href="">开关 - Switches</a>
      <a class="item" href="">Tabs - Tabs</a>
      <a class="item" href="">文本框 - Text fields</a>
      <a class="item" href="">工具提示 - Tooltips</a>
    </div>
  </div>

  <div class="item">
    <b>Patterns</b>
    <div class="menu">
      <a class="item" href="">选择 - Selection</a>
      <a class="item" href="">Gestures - Gestures</a>
      <a class="item" href="">促进的动作 - Promoted Actions</a>
      <a class="item" href="">设置 - Settings</a>
      <a class="item" href="">影像处理 - Imagery Treatment</a>
      <a class="item" href="">搜索 - Search</a>
    </div>
  </div>

  <div class="item">
    <b>Usability</b>
    <div class="menu">
      <a class="item" href="">可达性 - Accessibility</a>
    </div>
  </div>

  <div class="item">
    <b>Resources</b>
    <div class="menu">
      <a class="item" href="">布局模板 - Layout Templates</a>
      <a class="item" href="">贴片集 - Sticker Sheets</a>
      <a class="item" href="">Roboto 字体 - Roboto Font</a>
      <a class="item" href="">调色板 - Color Palettes</a>
    </div>
  </div>

</div>