<div class="ui right vertical overlay sidebar menu">
  <a class="item" href="/"><b>目录</b></a>
 <div class="item">
    <b>Material Design</b>
    <div class="menu">
      <a class="item" href="/material_design/material-design/introduction.html">概述 - Introduction</a>
    </div>
  </div>
 <div class="item">
    <b>Animation</b>
    <div class="menu">
      <a class="item" href="/material_design/animation/authentic-motion.html">真实的动作 - Authentic Motion</a>
      <a class="item" href="/material_design/animation/responsive-interaction.html">响应式交互 - Responsive Interaction</a>
      <a class="item" href="/material_design/animation/meaningful-transitions.html">有意义的转场动画 - Meaningful Transitions</a>
	  <a class="item" href="/material_design/animation/delightful-details.html">打动用户的细节 - Delightful Details</a>      
    </div>
  </div>
  <div class="item">
    <b>Style</b>
    <div class="menu">
      <a class="item" href="/material_design/style/color.html">色彩 - Color</a>
      <a class="item" href="/material_design/style/typography.html">字体排版 - Typography</a>
      <a class="item" href="/material_design/style/icons.html">图标 - Icons</a>
      <a class="item" href="/material_design/style/imagery.html">图像 - Imagery</a>
    </div>
  </div>
  <div class="item">
    <b>Layout</b>
    <div class="menu">
      <a class="item" href="/material_design/layout/layout-principles.html">准则 - Principles</a>
      <a class="item" href="/material_design/layout/metrics-and-keylines.html">度量与边框 - Metrics and Keylines</a>
      <a class="item" href="/material_design/layout/structure.html">结构 - Structure</a>
    </div>
  </div>

  <div class="item">
    <b>Components</b>
    <div class="menu">
      <a class="item" href="/material_design/components/bottom-sheets.html">底部动作条 - Bottom Sheets </a>
      <a class="item" href="/material_design/components/buttons.html">按钮 - Buttons </a>
      <a class="item" href="/material_design/components/cards.html">卡片 - Cards</a>
      <a class="item" href="/material_design/components/chips.html">纸片 - Chips</a>
      <a class="item" href="/material_design/components/dialogs.html">提示框 - Dialogs</a>
      <a class="item" href="/material_design/components/dividers.html">分隔线 - Dividers</a>
      <a class="item" href="/material_design/components/grids.html">网格 - Grids</a>
      <a class="item" href="/material_design/components/lists.html">列表 - Lists</a>
      <a class="item" href="/material_design/components/list-controls.html">列表控制 - List controls</a>
      <a class="item" href="/material_design/components/menus.html">菜单 - Menus</a>
      <a class="item" href="/material_design/components/progress-activity.html">进度和动态 - Progress and Activity</a>
      <a class="item" href="/material_design/components/sliders.html">滑块 - Sliders</a>
      <a class="item" href="/material_design/components/snackbars-and-toasts.html">Snackbars 与 Toasts - Snackbars and Toasts</a>
      <a class="item" href="/material_design/components/subheaders.html">副标题 - Subheaders</a>
      <a class="item" href="/material_design/components/switches.html">开关 - Switches</a>
      <a class="item" href="/material_design/components/tabs.html">Tabs - Tabs</a>
      <a class="item" href="/material_design/components/text-fields.html">文本框 - Text fields</a>
      <a class="item" href="/material_design/components/tooltips.html">工具提示 - Tooltips</a>
    </div>
  </div>

  <div class="item">
    <b>Patterns</b>
    <div class="menu">
      <a class="item" href="/material_design/patterns/selection.html">内容选取 - Selection</a>
      <a class="item" href="/material_design/patterns/gestures.html">手势 - Gestures</a>
      <a class="item" href="/material_design/patterns/promoted-actions.html">改进的操作 - Promoted Actions</a>
      <a class="item" href="/material_design/patterns/settings.html">设置 - Settings</a>
      <a class="item" href="/material_design/patterns/imagery-treatment.html">影像处理 - Imagery Treatment</a>
      <a class="item" href="/material_design/patterns/search.html">搜索 - Search</a>
    </div>
  </div>

  <div class="item">
    <b>Usability</b>
    <div class="menu">
      <a class="item" href="/material_design/usability/accessibility.html">可达性 - Accessibility</a>
    </div>
  </div>

  <div class="item">
    <b>Resources</b>
    <div class="menu">
      <a class="item" href="/material_design/resources/layout-templates.html">布局模板 - Layout Templates</a>
      <a class="item" href="/material_design/resources/sticker-sheets.html">贴片集 - Sticker Sheets</a>
      <a class="item" href="/material_design/resources/roboto-font.html">Roboto 字体 - Roboto Font</a>
      <a class="item" href="/material_design/resources/color-palettes.html">调色板 - Color Palettes</a>
    </div>
  </div>

</div>
