---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
  </header>

  <article class="post-content">
  {{ content }}
  </article>


 <div class="share">
	  <div class="bdsharebuttonbox" data-tag="share_1">
		<!-- 此处添加展示按钮 -->
		<a class="bds_mshare" data-cmd="mshare"></a>
		<a class="bds_tsina" data-cmd="tsina"></a>
		<a class="bds_sqq" data-cmd="sqq"></a>
		<a class="bds_qzone" data-cmd="qzone" href="#"></a>
		<a class="bds_renren" data-cmd="renren"></a>
		<a class="bds_tqq" data-cmd="tqq"></a>
		<a class="bds_weixin" data-cmd="weixin"></a>
		<a class="bds_more" data-cmd="more">更多</a>
		<a class="bds_count" data-cmd="count"></a>
	</div>

	<script>
	window._bd_share_config = {
		common : {		
			bdSign: 'normal',
			bdText : 'Material Design 中文版(Google I/O 2014 最新推出的全平台设计指南)',	
			bdDesc : 'Google I/O(2014) 最新推出的Material Design势必会成为全平台设计规范，其适配包括 Android Mobile, Android Table, Web Chrome 在内的所有平台；中文版发布，校对人员召集ing（QQ群：137198122）；在线看->http://design.1sters.com,速度看过来，速度传播~~',	
			bdPic : 'http://design.1sters.com/material_design/material-design/images/materialdesign-goals-landingimage_large_mdpi.png'
		},
		share : [{
			"tag" : "share_1",
			"bdSize" : 16
		}]
	}
	</script>

	<script>
		with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
	</script>
</div>

  <div class="comment">
  <!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="{{ page.permalink }}" data-title="{{ page.title }}" data-url="{{ page.url  | prepend: site.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"material-design"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->
	</div>

</div>
